.board {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  display: flex;
  gap: 5px;
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
}

.correct {
  background-color: lightgreen;
}

.close {
  background-color: yellow;
}

.incorrect {
  background-color: lightgrey;
}
